:root {
  --main-font: "Roboto",
    sans-serif;
  --secondary-font: "Raleway",
    sans-serif;
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

.link, a {
  text-decoration: none;
}

.list {
  list-style: none;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

svg {
  fill: var(--primary-text-color);
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 480px) {
  .container {
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 738px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: "Roboto", "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.section {
  padding-top: 84px;
  padding-bottom: 84px;
}

@media screen and (min-width: 768px) {
  .section {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 130px;
    padding-bottom: 130px;
  }
}

.section-tittle {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.button-hero {
  font-family: inherit;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  cursor: pointer;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  width: 200px;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.navigation-list-item {
  display: none;
}

@media screen and (min-width: 768px) {
  .navigation-list-item {
    display: flex;
  }
}

.logo {
  color: var(--title-text-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.14;
  text-decoration: none;
  margin-right: 50px;
}

.logo .logo-span {
  color: var(--accent-color);
}

.logo-spanf {
  color: var(--primary-white-color);
}

.social-list {
  display: flex;
  justify-content: space-between;
}

.social-list-icon {
  width: 20px;
  height: 20px;
  fill: var(--primary-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-social-item:hover .social-list-icon,
.icon-social-item:focus .social-list-icon {
  fill: #ffffff;
}

.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
  fill: white;
}

.social-list-link {
  display: flex;
  width: 44px;
  justify-content: center;
  align-items: center;
  height: 44px;
  background-color: white;
  border-radius: 50%;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover, .social-list-link:hover {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
}

.addres-list {
  display: none;
}

.buttons-items .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.buttons-items .container .buttons-item {
  display: flex;
  align-items: center;
  margin: 0 auto;
  margin-top: 93px;
  margin-bottom: 50px;
}

.buttons-items .container .buttons-item .button {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  margin-right: 30px;
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
  margin-right: 8px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.buttons-items .container .buttons-item .button:hover, .buttons-items .container .buttons-item .button:focus, .buttons-items .container .buttons-item .button:active {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.icon-social-item {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  margin-right: 20px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-social-item:hover, .icon-social-item:hover {
  background-color: var(--accent-color);
}

.modal {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal .contact-form-button {
  width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  font-size: 16px;
  border-radius: 6%;
  margin-top: 40px;
  margin-left: 120px;
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.modal-close-btn .btn-close:hover,
.modal-close-btn .btn-close:focus {
  fill: var(--accent-color);
}

.footer-submit {
  margin-bottom: 40px;
  align-items: center;
  margin-left: 50px;
  justify-content: center;
}

.footer-submit .submit-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-submit .submit-form .email-input {
  width: 358px;
  height: 50px;
  padding-left: 15px;
  background-color: #2F303A;
  border-color: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  color: var(--primary-white-color);
  margin-right: 12px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-submit .submit-form .email-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.submit-mail-btn {
  position: relative;
  margin-top: 4px;
}

.submit-mail-btn .btn-mail-submit {
  position: relative;
  width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  font-size: 18px;
  font-weight: 700;
  text-align: left;
  padding-left: 20px;
  padding-top: 5px;
  border-radius: 5%;
}

.submit-mail-btn .mail-submit-icon {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  fill: var(--primary-white-color);
  margin-left: 150px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 528px;
  height: 581px;
  padding: 15px;
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  margin: 0 auto;
  padding: 40px;
}

.contact-form .contact-form-title {
  font-size: 19px;
  text-align: center;
  margin-bottom: 12px;
  font-weight: 700px;
  color: #212121;
}

.contact-form .contact-form-input-label {
  font-size: 12px;
  margin-bottom: 3px;
}

.contact-form .user-term-label {
  display: flex;
}

.contact-form-input {
  outline: none;
  width: 100%;
  height: 40px;
  border: 1px solid #000;
  box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 10px;
  padding-left: 30px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-input:focus {
  border-color: var(--accent-color);
}

.contact-form-input:focus + .contact-form-icon {
  fill: var(--accent-color);
}

.contact-form-message {
  width: 100%;
  height: 120px;
  padding: 15px;
  resize: none;
  margin-bottom: 20px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-message:focus {
  border-color: var(--accent-color);
}

.contact-form-input-list {
  position: relative;
  margin-top: 4px;
}

.contact-form-input-list .contact-form-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width: 18px;
  height: 18px;
  left: 12px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-term-desc {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.modal-form-term-desc::before {
  outline: none;
  display: block;
  content: "";
  width: 16px;
  height: 16px;
  outline: 1px solid #000;
  margin-right: 10px;
  margin-left: 15px;
}

.modal-form-term:checked + .modal-form-term-desc::before {
  background-image: url(../images/Vector.svg);
  background-color: var(--accent-color);
}

.header {
  padding: 15px 0;
}

@media screen and (max-width: 768px) {
  .mobile-btn-open {
    padding: 0;
    border: none;
    background: transparent;
  }
  .mobile-open-icon {
    width: 40px;
    height: 40px;
    fill: var(--title-text-color);
  }
  .mobile-menu {
    position: fixed;
    width: 100vw;
    height: 100vh;
    max-width: 480px;
    top: 0;
    left: 50%;
    transition: all 250ms linear;
    transform: translateX(-50%) translateY(-100%);
  }
  .is-open {
    transform: translateX(-50%) translateY(0);
  }
  .mobile-close-menu {
    position: absolute;
    top: 8px;
    right: 8px;
    padding: o;
    border: none;
    background-color: transparent;
    padding: 48px 40px;
  }
  .mobile-close-icon {
    width: 40px;
    height: 40px;
    fill: var(--title-text-color);
  }
  .mobile-menu-list-link {
    display: block;
    padding: 0 10px;
  }
}

@media screen and (min-width: 768px) {
  .mobile-btn-open {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
}

.hero-tittle {
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  margin-top: 200px;
  margin-bottom: 40px;
  width: 696px;
  height: 120px;
  justify-content: center;
  text-transform: uppercase;
}

.feature-items {
  display: flex;
  align-items: center;
  justify-content: center;
}

.feature-items .feature-icon:not(:last-child) {
  width: 270px;
  height: 120px;
  justify-content: space-between;
  padding-left: 90px;
}

.feature-items .feature {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: justify;
  display: flex;
  width: 270px;
  margin-bottom: 10px;
  margin-right: 30px;
  padding-left: 30px;
}

.feature-items .features-text {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-transform: none;
  width: 270px;
  padding-left: 30px;
}

.work {
  display: none;
}

.worker-photos {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
  box-shadow: 0 1px 3px o #000, 0 1px 1px 0 #000, 0 2px 1px 0 #000;
}

.worker-photos .worker-tittle {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 9px;
}

.worker-photo {
  width: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-top: 30px;
  border: 1px solid #cccccc;
}

.worker-photo .workers-content-wrapper {
  padding-top: 30px;
  border-top: none;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 30px;
}

.worker-photo .workers-content-wrapper .text {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 10px;
}

.clients {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.clients .logo-item {
  width: 170px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid var(--primary-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients .logo-item:hover {
  border-color: var(--accent-color);
}

.clients .logo-item:hover .logo-item-img {
  fill: var(--accent-color);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.footer .address {
  color: var(--primary-white-color);
  font-style: normal;
  margin-right: 50px;
}

.footer .address .add-text {
  margin-top: 15px;
  display: flex;
  width: 230px;
  color: var(--primary-white-color);
  line-height: 1.71;
}

.footer .address .contacts-listf {
  display: flex;
  flex-direction: column;
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.71;
  list-style: none;
  text-decoration: none;
  width: 230px;
  margin-top: 8px;
}

.social-footer-content {
  margin-bottom: 50px;
}

.social-footer-content .social-links-footer {
  display: flex;
}

.social-footer-content .social-links-footer .social-list-icon {
  fill: white;
}

.footer-text {
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin-bottom: 15px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 200vh;
  height: 200vh;
  transition: all 1000ms linear;
  background-color: rgba(0, 0, 0, 0.2);
}

.form-term-signature {
  text-decoration-line: underline;
  color: var(--accent-color);
  margin-left: 3px;
}

.items {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.items .item {
  width: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.items .item:hover {
  border: 1px solid #EEEEEE;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.overlay-item {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  min-height: 100%;
  display: flex;
  position: absolute;
  cursor: pointer;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  transform: translateY(100%);
  background-color: rgba(33, 150, 243, 0.9);
  margin: 0;
  top: 0;
  transition: 250ms ease;
  color: var(--primary-white-color);
  padding: 24px;
  align-items: center;
}

.item:hover .overlay-text {
  transform: translateY(0);
}

.item-content-wrapper {
  padding: 20px 20px;
  border: 1px solid #EEEEEE;
}

.item-content-wrapper .text-list {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  margin-bottom: 15px;
}

.item-content-wrapper .tittle {
  color: var(--title-text-color);
  font-weight: 900;
  font-size: 18px;
  line-height: 2;
}
/*# sourceMappingURL=main.css.map */