.button-hero {
  font-family: inherit;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  cursor: pointer;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  
  width: 200px;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
    
}