.modal {
  position: absolute;
  top:25%;
  left:50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
    
  background-color: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
    .contact-form-button {
      width: 200px;
      height: 50px;
      background-color:var(--accent-color);
      color:var(--primary-white-color);
      font-size: 16px;
      border-radius: 6%;
      margin-top: 40px;
      margin-left: 120px;
    }
}
.modal-close-btn {
  position:absolute;
  top: 8px;
  right: 8px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  .btn-close:hover,
  .btn-close:focus {
    fill:var(--accent-color);
  }
    
}
